.mainContainer {
    width: 100%;
    height: 100%;
    min-height: 600px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.headerContainer {
    margin: 60px 0px 20px 0px;
    width: 80%;
    height: 50px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header {
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    color: black;
}

.headerButton {
    width: auto;
    padding: 0px 30px 0px 30px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: white;
    color: black;
    border: 1px solid black;
    white-space: nowrap;
}

.sectionTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 50px;
    margin: 20px 0px 20px 0px;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.dummyDiv {
    height: 40px;
    width: 20px;
    border-radius: 5px;
    background-color: #DB4444;
}

.recommendedTitle {
    background-color: white;
    color: black;
    padding-left: 10px;
}