.footerContainer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 350px;
}

.contentDiv{
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h3 {
    padding-bottom: 10px;
    height: 40px;
}

h4 {
    height: auto;
    padding-bottom: 10px;
}

p {
    height: auto;
    padding: 6px 0px 6px 0px;
}

.div {
    width: auto;
    height: auto;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 0px 20px 0px 20px;
}

.inputContainer {
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-top: 7px;
}

.input {
    width: 100%;
    padding-right: 20px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

#paperPlaneIcon {
    position: absolute;
    right: 10px;
    color: gray;
    pointer-events: none; /* allows clicks to go through to input */
}

#smallParagraph {
    font-size: 10px;
}

#copyrightParagraph {
    color: grey;
}

.downloadingMethodsContainer {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 50% 50%;
    margin-top: 10px;
    grid-row-gap: 5px;
    grid-column-gap: 10px;
    height: 100px;
}

#qrImg {
    grid-row: span 2;
    width: 90px;
    height: 90px;
    border: 2px solid white;
}

.methodImg {
    width: 40px;
    margin-right: 2px;
}

.downloadButton {
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: white;
    border: 1px solid white;
}

@media (max-width: 1200px) {
    .footerContainer {
        height: auto;
    }
    .contentDiv {
        display: flex;
        flex-wrap: wrap;             
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        padding: 20px;
        gap: 20px;
    }

    .div {
        width: max-content;     
        max-width: 250px;
        padding: 0px 20px;
    }
}
