.mainContainer {
    margin: 10px 0px 40px 0px;
    width: 80%;
    gap: 20px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
