.home {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.firstSection {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    width: 80%;
    height: 400px;
    margin-bottom: 50px;
}

.leftContainer {
    background-color: white;
    color: black;
    width: 25%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.rightSideImg {
    width: 75%;
    height: 90%;
}

.titlesWithArrow {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: start;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 0px;
    border: none;
}

.titlesWithoutArrow {
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    text-align: start;
    padding: 0px;
    border: none;
}

.titlesWithoutArrow:hover, .titlesWithArrow:hover {
    color: gray;
}
.titlesWithArrow p,
.titlesWithArrow svg,
.titlesWithoutArrow p{
  color: inherit;
  transition: color 0.2s ease;
}
.leftSideTitle {
    background-color: white;
    color: black;
}

.verticalLine {
    width: 1px;               /* Thin line */
    height: 100%;            /* Adjust height as needed */
    background-color: black;  /* Or any color */
    margin: 0 16px;           /* Optional spacing */
}

.secondSection {
    width: 80%;
    height: 600px;
    margin-top: 50px;
}

.sectionTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50px;
}

.dummyDiv {
    height: 40px;
    width: 20px;
    border-radius: 5px;
    background-color: red;
}

.redTitle {
    background-color: white;
    color: red;
    padding-left: 10px;
}

.secondRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: white;
    color: black;
}

.secondRowTitlesContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.secondRowTitles {
    background-color: white;
    color: black;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    text-align: center;
}

.redMarkers {
    color: red;
    font-weight: bold;
    font-size: 30px;
    background-color: white;
    width: 10px;
}

.navigators {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 4px;
    width: 10%;
}

.navigationButton {
    border-radius: 50%;
    background-color: #F5F5F5;
    color: black;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productCardsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
    overflow-x: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.productCardsContainer::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.buttonsContainer {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.viewAllButton {
    background-color: #DB4444;
    width: 200px;
    height: 50px;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    margin: 20px;
}

.viewAllButton:hover {
    background-color: #B32A2A;
    cursor: pointer;
    border: none;
}

@media (max-width: 1200px) {
    .leftContainer {
        width: 30%;
    }
    .rightSideImg {
        width: 70%;
    }
    .secondRowTitles, .redMarkers {
        font-size: 25px;
    }
}

@media (max-width: 900px) {
    .leftContainer {
        width: 100%;
        height: 90%;
    }
    .rightSideImg {
        display: none;
    }
    .verticalLine {
        display: none;
    }
    .secondRowTitlesContainer {
        width: 70%;
    }
    .secondRowTitles, .redMarkers{
        font-size: 20px;
    }
}