.mainContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0px 50px 0px;
}

.colDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
}

.blackText {
    background-color: white;
    color: black;
    font-size: 15px;
    margin-bottom: 20px;
    padding: 0px;
    width: auto;
}

.blackText a {
    color: grey;
}

.header {
    background-color: white;
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

.contentDiv {
    display: flex;
    flex-direction: row;
    gap: 100px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
}

.personalDetailsDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin: 0px 0px 50px 0px;
    padding: 0px;
    align-items: start;
    justify-content: center;
}

.inputDiv {
    display: flex;
    flex-direction: column;
    gap: 1px;
    align-items: start;
    justify-content: center;
}

.inputHeader {
    background-color: white;
    color: grey;
    font-size: 18px;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    width: 200px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.redStar {
    background-color: white;
    color: #DB4444;
    width: 5px;
}

.label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    color: black;
    font-size: 16px;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    width: auto;
    gap: 5px;
    text-align: center;
}

.label input {
    background-color: white;
    color: #DB4444;
    width: 20px;
    height: 20px;
}

input[type="checkbox"] {
  accent-color: #DB4444; /* any CSS color */
}

.paymentDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin: 0px 0px 50px 0px;
    padding: 0px;
    align-items: start;
    justify-content: center;
}

.productContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    height: 50px;
    padding: 0px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.imageAndTitleContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

.imageAndTitleContainer img {
    width: auto;
    height: auto;
    max-width: 40px;
    max-height: 40px;
}

.imageAndTitleContainer p {
    position: absolute;
    background-color: white;
    color: black;
    font-size: 15px;
    padding: 0px;
    width: auto;
    left: 55px;
}

.productContainer p{
    background-color: white;
    color: black;
    font-size: 15px;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    width: auto;
    text-align: start;
}

.checkoutDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px;
    height: 30px;
}

.checkoutDiv p {
    background-color: white;
    color: black;
    font-size: 15px;
    padding: 0px;
    width: auto;
    text-align: start;
}

.couponDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 60px;
    background-color: white;
    color: black;
    gap: 10px;
}

.couponDiv input {
    background-color: white;
    border-radius: 5px;
    border: 1px solid grey;
    height: 100%;
    font-size: 16px;
    min-width: 150px;
    width: 100%;
}

.couponDiv button, .placeOrderButton {
    font-size: 18px;
    background-color: #DB4444;
    color: white;
    border: none;
    cursor: pointer;
    height: 100%;
    margin: 0px;
    border: 1px solid #DB4444;
    border-radius: 5px;
    width: auto;
    min-width: 179px;
    padding: 0px 30px 0px 30px;
}

.placeOrderButton {
    height: 60px;
}

@media (max-width: 1000px) {
    .contentDiv {
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }
}